<div class="row">
  <button class="btn btn-success" (click)="createNew()">Add New Mac</button>

 <button cssClass=”e-primary”>Button</button>
</div>
<div class="card" style="width: 18rem;" *ngFor="let mac of macList">
  <div class="card-body">
    <h5 class="card-title">{{mac._id}}</h5>
    <h5 class="card-title">{{mac.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{mac.macaddress}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">{{mac.type}}</h6>
    <p class="card-text">
     {{mac.macaddress}}
    </p>
    <a [routerLink]="['/mac/',mac._id,'edit']" class="btn btn-primary">Edit</a>
    <a [routerLink]="['/mac/',mac._id,'view']" class="btn btn-success">View</a>
    <button (click)="delete(mac._id)" class="btn btn-danger">Delete</button>
  </div>
</div>
